<h2>Primary Colors</h2>


<% for (i = 0; i < colorList.length; i++) { %>
  <% if (colorList[i].category === 'blue' || colorList[i].category === 'red' || colorList[i].category === 'yellow') { %>
<ul class="color-box">
  <li class="color" style=" background-color: <%= colorList[i].hex %> "></li>
  <li class="color-name"><%= colorList[i].keyword %></li>
  <li class="color-hex"><%= colorList[i].hex %></li>
</ul>
  <% } %>
<% } %>
