<h2>Random Color</h2>

<ul class="color-box">
  <li class="color" style="background-color: <%= hex %>"></li>
  <li class="color-name"><%= keyword %></li>
  <li class="color-hex"><%= hex %></li>
</ul>
